    *{
        margin: 0;
    }

.nav{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    background: #fff;
    
 }
 .header{
     padding-left: 280px;
     font-family: 'Poppins 300',sans-serif;
 }


 span{
     color: blue;
 }
 .navigacija{
    display: flex;
    align-items: center;
    padding-right: 300px;
    text-decoration: none;
    gap: 20px;
 }
 .navigacija li{
     list-style: none;
 }
 .navigacija a{
     text-decoration: none;
     color: #222222;;
 }
 
 /* .nav-buttons a{
    color: black;
    text-decoration: none;
    font-size: 1rem;
    padding-right: 75px;
 } */

 .nav-buttons a:hover{
     color: blue;
 }
 
 main{
     background-image: url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?size=626&ext=jpg);
     background-size: cover;
     width: 100%;
     height: 75vh;
     background-color: rgb(215, 200, 241);
     
 }

 .hero-content{
    padding: 250px;
    font-size: 23px;
    font-family: 'Poppins',sans-serif;

 }

 .btn{
     display: flex;
     flex-direction: row;
     align-items: center;
     gap: 30px;
     
 }
 .button-one a{
    color: white;
    border: 1px solid blue;
    background-color: blue;
    padding: 10px;
    border-radius: 5px;
 }

 .button-two a{
     color:black;
 }

 .btn a{
     text-decoration: none;
 }
.fa{
    color: blue;
    font-size: 25px;
    padding-right: 5px;
}

.button-two a:hover {
    color: rgb(72, 72, 250);
}
 
.tekst-kocki{
    font-family: 'Poppins',sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-size: 20px;
}
.kocke{
    border-radius: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: -80px;
    margin-bottom: 100px;
    padding: 150px;
}
.sliika img{
    object-fit: fill;
    overflow: hidden;
    border-radius: 5px;
}

.tekst-slike{
    padding: 10px;
    color: rgb(0, 0, 0);
    padding-left: 30px;

}
.kocka1{
    height: 360px;
    width: 300px;
    background-color: rgb(149, 146, 146); 
    border-radius: 4px;
    box-shadow:1px 3px 4px rgba(0, 0, 0, 0.5);
}
.kocka2{
    height: 360px;
    width: 300px;
    background-color: rgb(126, 121, 121);
    border-radius: 4px;
    box-shadow:1px 3px 4px rgba(0, 0, 0, 0.5);
}
.kocka3{
    height: 360px;
    width: 300px;
    background-color: rgb(126, 121, 121);
    border-radius: 4px;
    box-shadow:1px 3px 4px rgba(0, 0, 0, 0.5);
}
.kocka4{
    height: 360px;
    width: 300px;
    background-color: rgb(126, 121, 121);
    border-radius: 4px;
    box-shadow:1px 3px 4px rgba(0, 0, 0, 0.5);
}
.spanclass{
    margin-left: 240px;
    color: black;
}
.span-2{
    color: rgb(85, 78, 80);
}