*{
    margin: 0;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: rgb(215, 241, 241);
    
 }
 .header{
     padding-left: 280px;
 }
 span{
     color: blue;
 }

 .nav-buttons a{
    text-decoration: none;
    padding-right: 100px;
 }
 
 main{
     
     width: 100%;
     height: 75vh;
     background-color: rgb(215, 200, 241);
 }

 .hero-content{
    padding: 250px;
    font-size: 23px;
 }
 .btn{
     display: flex;
     flex-direction: row;
     align-items: center;
     gap: 30px;
     
 }
 .button-one a{
     color: white;
    border: 1px solid blue;
    background-color: blue;
    padding: 10px;
    border-radius: 5px;
 }

 .button-two a{
     color:black;
 }

 .btn a{
     text-decoration: none;
 }
.fa{
    color: blue;
    font-size: 25px;
    padding-right: 5px;
}
 

