body{
    
    width: 600px;   
    height: 700px;
    border: 7px solid rgb(130, 20, 220);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin: 150px auto;
    font-family: "Roboto",sans-serif;
}


header img{
    height: 233px;
    width: 600px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

main{
    
    padding: 0 4px;
    
}

